$font-family: 'Lato';
$font-size-general: 14px;
$font-size-label: 16px;
$font-size-header: 28px;
$font-weight: 300;
$line-height: 1.5em;
$color: #141823;
$authentication-orange-header: $primary;


$comments-font-size-metadata: 10px;
$comments-font-size-reply: 12px;
