.btn {
  border: 2px solid transparent;
  border-radius: 2px;
  margin: 16px 0;
  padding: 8px 8px;

  &:hover {
    cursor: pointer;
  }

  &-default {
    background-color: $btn-default-bg;
    border-color: $btn-default-bg;
    color: $light-color;

    &:hover {
      background-color: $btn-hover;
      border-color: $btn-hover;
      color: $light-color;
    }
  }

  &-tabs {
    background-color: $btn-tabs-bg;
    border-bottom: 2px solid black;
    border-left: 2px $gray-bg;
    border-right: 2px $gray-bg;
    border-top: 2px solid black;
    width: auto;

    &-selected,
    &:hover {
      background-color: $btn-hover;
      border-color: $btn-hover;
      color: $light-color;
    }
  }

  &-dropdown {
    background-color: transparent;
    border: 2px solid black;
    float: right;
    margin: 32px 0 0 0;
    width: 114px;
  }

  &-flexible {
    width: auto;
  }
}
