.dropdown-container {
  cursor: pointer;
  display: inline-block;
  padding: 0px 16px 0px 16px;
  position: relative;

  .eos-icons {
    margin-right: 0;
    pointer-events: none;
    vertical-align: sub;
  }
}

.dropdown {
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  float: right;
  position: absolute;
  right: 15px;
  top: 100%;
  width: 114px;

  &-open {
    background-color: $dropdown-colored-bg;
    color: $light-color;
    display: block;
    width: 200px;
  }

  &-close {
    display: none;
  }
}

.dropdown-container:hover .dropdown-hover {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 8px 16px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
