.home-content {
  padding: 16px 16px;
}

.no-format {
  margin: 0px 0px;
  padding: 0px 0px;
}

.dropdown-product {
  background-color: $dropdown-colored-bg;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  float: left;
  position: absolute;
  top: 100%;
  width: 200px;
}
