.story-content {
  padding: 16px 16px;

  .eos-icons {
    margin-left: 16px;
    margin-right: 16px;
    pointer-events: none;
    vertical-align: bottom;
  }

  .btn {
    margin: 16px 16px 16px 0px;
  }
}
