body {
  font-family: $font-family;
  font-size: $font-size-general;
  line-height: 1.5em;
  overflow: hidden;
}

.app {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.app-container {
  max-width: 100%;
  min-height: calc(100vh - 16px);
}

@media only screen and (max-height: 100vh) {
  body {
    background-color: $gray-bg;
  }
}

.eos-icons {
  margin-right: 0;
  pointer-events: none;
  vertical-align: middle;
}

.base-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
}

.base-container {
  background-color: $light-color;
  box-sizing: border-box;
  max-width: 100%;
  width: 1120px;
}

.user-avatar {
  display: block;
  float: left;

  .avatar {
    height: 4.5em;
    width: 4em;
  }
}

@media only screen and (max-width: 1120px) {
  .base-container {
    width: 100vw;
  }
}
